
*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:Arial,sans-serif;
background:#0f172a;
color:white;
}

.hero{
height:90vh;
background:linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7)),
url('outfit1.png');
background-size:cover;
background-position:center;
display:flex;
justify-content:center;
align-items:center;
text-align:center;
padding:20px;
}

.overlay h1{
font-size:58px;
margin-bottom:20px;
}

.overlay p{
font-size:20px;
max-width:700px;
margin:auto;
line-height:1.8;
}

.buttons{
margin-top:35px;
}

.buttons a{
display:inline-block;
padding:14px 28px;
background:white;
color:#111;
margin:10px;
text-decoration:none;
border-radius:10px;
font-weight:bold;
}

.preview{
padding:80px 8%;
background:#111827;
}

.preview h2{
text-align:center;
font-size:40px;
margin-bottom:50px;
}

.popup-card{
display:flex;
gap:30px;
background:#1e293b;
margin-bottom:30px;
padding:20px;
border-radius:20px;
align-items:center;
}

.popup-card img{
width:320px;
border-radius:15px;
}

.content h3{
font-size:30px;
margin-bottom:15px;
}

.content p{
line-height:1.8;
font-size:18px;
}

.install{
padding:70px 8%;
background:#0f172a;
}

.install h2{
font-size:38px;
margin-bottom:30px;
text-align:center;
}

.install ol{
max-width:700px;
margin:auto;
line-height:2.2;
font-size:18px;
}

footer{
padding:25px;
text-align:center;
background:#020617;
}
